.mainframe {
    position: relative;
    display: flex;
}

.sidecolumn {
    width: 15%;
    background-color: red;
}

.content {
    width: 70%;
    background-color: green;
}

.songinfo {
    width: 15%;
    background-color: blue;
    text-align: center;
}